body {
    margin: 10px;
    white-space: nowrap;
}

h1 {
    font-size: 15px;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #4e5d6c;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover {
    color: #ffffff;
    background-color: #39444e;
    border-color: rgba(0, 0, 0, 0);
}

.btn:focus,
.btn.focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #39444e;
    border-color: rgba(0, 0, 0, 0);
}

.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.hidden{
    display: none;
}

.success{

}